extends layout
-var courses,teachers,t_name
block content
    // banner
    .banner
        .container
            section.slider
                .flexslider
                    ul.slides
                        li
                            .banner-info
                                h1 更多的孩子需要您的帮助
                                p 十年树木，百年树人，孩子是未来，青幼年教育是头等大事
                        li
                            .banner-info
                                h1 叶芝:
                                p 教育不是注满一桶水，而且点燃一把火。
                        li
                            .banner-info
                                h1 蔡元培
                                p 教育者，非为已往，非为现在，而专为将来。
            // FlexSlider
            link(rel='stylesheet', href='css/flexslider.css', type='text/css', media='screen')
            script(defer='', src='js/jquery.flexslider.js')
            script(type='text/javascript').
                $(window).load(function(){
                    $('.flexslider').flexslider({
                        animation: "slide",
                        start: function(slider){
                            $('body').removeClass('loading');
                        }
                    });
                });
            // End-slider-script
    // //banner
    // 热门课程
    .testimonials
        .container
            h3 热门课程
            .testimonial-grids#courses
                    each item,index in courses
                        .col-md-4.testimonial-grid(data-id = item.dataValues.id,data-mark = item.dataValues.mark,data-ptp = item.dataValues.participants)
                            .testimonial-grd
                                a(href='/course/detail?cid=' + '' + item.dataValues.id + '')
                                    i #{item.dataValues.title}
                                    | #{item.dataValues.grade}&nbsp;#{item.dataValues.category}
                                    br
                                    | 评分：#{item.dataValues.mark}
                                    br
                                    | 参与人数：#{item.dataValues.participants}
                                    br
                                    | 教师:&nbsp;
                                    span #{t_name[index]}
                                .testimonial-grd-pos
                                    span
    // 名牌讲师
    .testimonials
        .container
            h3 名牌讲师
            .testimonial-grids#teachers
                    each item,index in teachers
                        .col-md-4.testimonial-grid(data-id = item.dataValues.id,data-mark = item.dataValues.mark,data-course-num = item.dataValues.course_num)
                            .testimonial-grd
                                a(href='/information/detail?tid=' + '' + item.dataValues.id + '')
                                    i #{item.dataValues.name}
                                    | #{item.dataValues.grade}&nbsp;#{item.dataValues.category}
                                    br
                                    | 评分:&nbsp;#{item.dataValues.mark}
                                    br
                                    | 课程数量:&nbsp;#{item.dataValues.course_num}
                                .testimonial-grd-pos
                                    span