//
   Created by 刘柘林 on 2018/3/3.
extends  ../layout
-var teacher,courses,remarks,students
block script
    script(src='/js/my_js/information.js')

block content
    .typo
        .container
            p.my_title#t_name #{teacher.name}
            p.my_title1
                | 标签：
                span.badge.badge-primary#t_grade #{teacher.grade}
                |&nbsp
                span.badge.badge-primary#t_category #{teacher.category}
                |                评分：
                span.badge.badge-success #{teacher.mark}
                -if(user && user.type==1 && user.id==teacher.id)
                    a(href='/information/logout')
                        span.label.label-danger(style='float:right;font-size:20px;width: 70px;') 登出
            .grid_3.grid_5
                .bs-example.bs-example-tabs
                    ul.nav.nav-tabs
                        li.active
                            a(href='#information', data-toggle='tab') 基本信息
                        -if(user && user.type==1 && user.id==teacher.id)
                            li
                                a(href='#courses', data-toggle='tab') 我的课程
                        -else
                            li
                                a(href='#courses', data-toggle='tab') TA的课程
                        -if(user && user.type==1 && user.id==teacher.id)
                            li
                                a(href='#authorize', data-toggle='tab') 学生审核
                        li
                            a(href='#remark', data-toggle='tab') 用户评论
                    .tab-content
                        #information.tab-pane.fade.in.active
                            div
                                a(href='javascript:void(0)', onclick="start('info')")
                                    span.badge.badge-primary(style='font-size:20px;margin:0 0 0.5em 0.5em') 编辑信息
                                a(href='javascript:void(0)', onclick="start('password')")
                                    span.badge.badge-warning(style='font-size:20px;margin:0 0 0.5em 0.5em') 修改密码
                            .col-md-6
                                table.table.table-bordered
                                    p 账号:&emsp;#{teacher.account}
                                    p#p_name 姓名:&emsp;#{teacher.name}
                                    p#p_teaching_age 教龄:&emsp;#{teacher.teaching_age}年
                                    p 评分:&emsp;#{teacher.mark}
                                    p 热度:&emsp;#{teacher.hot}
                                    -if(teacher.state==1)
                                        p 状态:&emsp;已过审
                                    -else
                                        p 状态:&emsp;未过审
                                    p#p_information 个人描述:&emsp;#{teacher.information}
                            #info.modal.fade(tabindex='-1', role='dialog', aria-labelledby='info')
                                .modal-dialog(role='document')
                                    .modal-content
                                        .modal-header
                                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                span(aria-hidden='true') ×
                                            h4.modal-title 编辑信息
                                        .modal-body
                                            div
                                                form#update_info(method='post')
                                                    label 账　号：#{teacher.account}
                                                    //input.form-control#account(name='account', type='text', style='width:50%;display:inline;margin:1px', placeholder='请输入...', required='')
                                                    br
                                                    label 姓　名：
                                                    input.form-control(name='name', type='text', style='width:50%;display:inline;margin:1px',value=teacher.name, required='')
                                                    br
                                                    label 教　龄：
                                                    input.form-control(name='teaching_age', type='text', style='width:50%;display:inline;margin:1px',onKeyUp="value=value.replace(/[^\\d]/g,'')",value=teacher.teaching_age, required='')
                                                    br
                                                    label 标　签：
                                                    select.form-control(name='grade', style='width:40%;display:inline;margin:1px')
                                                        option(value='小学') 小学
                                                        option(value='初中') 初中
                                                        option(value='高中') 高中
                                                    select.form-control(name='category', style='width:40%;display:inline;margin:1px')
                                                        option(value='语文') 语文
                                                        option(value='数学') 数学
                                                        option(value='外语') 外语
                                                        option(value='政治') 政治
                                                        option(value='历史') 历史
                                                        option(value='地理') 地理
                                                        option(value='物理') 物理
                                                        option(value='化学') 化学
                                                        option(value='生物') 生物
                                                        option(value='其他') 其他
                                                    br
                                                    label(for='_information') 个人描述：
                                                    br
                                                    textarea.form-control#self_information(name='information', style='width:80%;display:inline;margin:1px',placeholder=teacher.information, cols='60', rows='5', wrap='')
                                        .modal-footer
                                            button.btn.btn-default(type='button', data-dismiss='modal')
                                                span.glyphicon.glyphicon-remove(aria-hidden='true')
                                                | 关闭
                                            button#update_info_submit_t.btn.btn-primary(type='button', data-dismiss='modal')
                                                span.glyphicon.glyphicon-floppy-disk(aria-hidden='true')
                                                | 保存
                            #password.modal.fade(tabindex='-1', role='dialog', aria-labelledby='password')
                                .modal-dialog(role='document')
                                    .modal-content
                                        .modal-header
                                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                span(aria-hidden='true') ×
                                            h4.modal-title 修改密码
                                        .modal-body
                                            div
                                                form#update_password(method='post')
                                                    label 账　号：#{teacher.account}
                                                    //input.form-control#account(name='account', type='text', style='width:50%;display:inline;margin:1px', placeholder='请输入...', required='')
                                                    br
                                                    label 原密码：
                                                    input.form-control#old_password(name='old_password', type='password', style='width:50%;display:inline;margin:1px', required='')
                                                    br
                                                    label 新密码：
                                                    input.form-control#new_password(name='new_password', type='password', style='width:50%;display:inline;margin:1px',required='')
                                                    br
                                                    label 确认密码：
                                                    input.form-control#confirm_password(name='confirm_password', type='password', style='width:50%;display:inline;margin:1px',required='')
                                        .modal-footer
                                            button.btn.btn-default(type='button', data-dismiss='modal')
                                                span.glyphicon.glyphicon-remove(aria-hidden='true')
                                                | 关闭
                                            button#update_password_submit_t.btn.btn-primary(type='button', data-dismiss='modal')
                                                span.glyphicon.glyphicon-floppy-disk(aria-hidden='true')
                                                | 保存
                        #courses.tab-pane.fade
                            -if(user && user.type==1 && user.id==teacher.id)
                                div
                                    a(href='javascript:void(0)', onclick="start('myModal')")
                                        span.badge.badge-primary(style='font-size:20px') +新建课程
                            .bs-docs-example
                                table.table
                                    thead
                                        tr
                                            th #
                                            th 名称
                                            th 年级
                                            th 科目
                                            th 评分
                                            th 人数
                                            th 描述
                                            th 操作
                                    tbody#course_list
                                        each item,index in courses
                                            tr(id=item.id)
                                                td #{index+1}
                                                td #{item.title}
                                                td #{item.grade}
                                                td #{item.category}
                                                td #{item.mark}
                                                td #{item.participants}
                                                td #{item.information}
                                                td
                                                    h4
                                                        a(href='/course/detail?cid=' + item.id)
                                                            span.label.label-primary 进入
                                                            | &nbsp
                                                        -if(user && user.type==1 && user.id==teacher.id)
                                                            a(href='javascript:void(0)',onclick="edit(" + item.id + ")" )
                                                                span.label.label-success 编辑
                                                                | &nbsp
                                                            a(href='/course/delete?cid=' + item.id)
                                                                span.label.label-danger 删除

                            #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModal')
                                .modal-dialog(role='document')
                                    .modal-content
                                        .modal-header
                                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                span(aria-hidden='true') ×
                                            h4#myModalLabel.modal-title 新建课程
                                        .modal-body
                                            div
                                                form#new_course(method='post')
                                                    label(for='title') 课程名：
                                                    input.form-control#title(name='title', type='text', style='width:50%;display:inline;margin:1px', placeholder='请输入...', required='')
                                                    br
                                                    label(for='grade') 年　级：
                                                    select.form-control#grade(name='grade', style='width:50%;display:inline;margin:1px')
                                                        option(value='一年级') 一年级
                                                        option(value='二年级') 二年级
                                                        option(value='三年级') 三年级
                                                        option(value='四年级') 四年级
                                                        option(value='五年级') 五年级
                                                        option(value='六年级') 六年级
                                                        option(value='初一') 初一
                                                        option(value='初二') 初二
                                                        option(value='初三') 初三
                                                        option(value='高一') 高一
                                                        option(value='高二') 高二
                                                        option(value='高三') 高三
                                                    br
                                                    label(for='category') 科　目：
                                                    select.form-control#category(name='category', style='width:50%;display:inline;margin:1px')
                                                        option(value='语文') 语文
                                                        option(value='数学') 数学
                                                        option(value='外语') 外语
                                                        option(value='政治') 政治
                                                        option(value='历史') 历史
                                                        option(value='地理') 地理
                                                        option(value='物理') 物理
                                                        option(value='化学') 化学
                                                        option(value='生物') 生物
                                                        option(value='其他') 其他
                                                    br
                                                    label(for='_information') 课程描述：
                                                    br
                                                    textarea.form-control#_information(name='information', style='width:80%;display:inline;margin:1px', cols='60', rows='5', wrap='')
                                        .modal-footer
                                            button.btn.btn-default(type='button', data-dismiss='modal')
                                                span.glyphicon.glyphicon-remove(aria-hidden='true')
                                                | 关闭
                                            button#submit.btn.btn-primary(type='button', data-dismiss='modal')
                                                span.glyphicon.glyphicon-floppy-disk(aria-hidden='true')
                                                | 保存
                        #authorize.tab-pane.fade
                            p#p_num 你还剩余#{teacher.access_num}个审核名额

                            -if(students.length == 0)
                                p 还没有和你同一所学校的注册学生
                            -else
                                table.table.table-hover
                                    thead
                                        tr
                                            th #
                                            th 账号
                                            th 学校
                                            th 年级
                                            th 班级
                                            th 姓名
                                            th 状态
                                            th 操作
                                    tbody
                                        each stu,idx in students
                                            tr(id = stu.id)
                                                td #{idx + 1}
                                                td #{stu.account}
                                                td #{stu.school}
                                                td #{stu.grade}
                                                td #{stu.class}
                                                td #{stu.name}
                                                -if(stu.state == 1)
                                                    td 已过审
                                                    td 无
                                                -else
                                                    td 未过审
                                                    td
                                                        span.label.label-success 通过
                        #remark.tab-pane.fade
                            -if(user && user.type == 2)
                                div
                                    a(href='javascript:void(0)', onclick="start('myModal1')")
                                        span.badge.badge-primary(style='font-size:20px') +评价教师
                            .grid_3.grid_5
                                -if(remarks.length==0)
                                    p 暂无评论
                                -else
                                    each item,index in remarks
                                        .well
                                            | # #{index + 1}&nbsp&nbsp&nbsp&nbsp评分：#{item.mark}
                                            br
                                            | #{item.information}
                                            div(style='float:right')
                                                | #{item.create_time.getFullYear()}-#{item.create_time.getMonth()+1}-#{item.create_time.getDate()}
                            #myModal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModal1')
                                .modal-dialog(role='document')
                                    .modal-content
                                        .modal-header
                                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                span(aria-hidden='true') ×
                                            h4.modal-title 评价
                                        .modal-body
                                            form#new_remark(method='post')
                                                label(for='mark') 评　分：
                                                select#mark.form-control(name='mark', style='width:50%;display:inline;margin:1px')
                                                    option(value='5') 5
                                                    option(value='4') 4
                                                    option(value='3') 3
                                                    option(value='2') 2
                                                    option(value='1') 1
                                                br
                                                label(for='r_information') 评　语：
                                                br
                                                textarea#r_information.form-control(name='information', style='width:80%;display:inline;margin:1px', cols='60', rows='5', wrap='')
                                        .modal-footer
                                            button.btn.btn-default(type='button', data-dismiss='modal')
                                                span.glyphicon.glyphicon-remove(aria-hidden='true')
                                                | 关闭
                                            button#remark_submit.btn.btn-primary(type='button', data-dismiss='modal')
                                                span.glyphicon.glyphicon-floppy-disk(aria-hidden='true')
                                                | 保存