//
   Created by 刘柘林 on 2018/2/10.
extends  ../layout
-var course,remarks,resources,tea,user,join
block script
    script(src='/js/my_js/resource.js')

block content
    .blog-page
        .container
            .blog-pag
                .blog-page-grids
                    .blog-page-grid
                        h3 #{course.title}
                        p
                            | 教师：
                            a(href='/information/detail?tid=' + '' + course.t_id + '') #{tea.name}
                    .blog-page-grid1
                        p  评分:&nbsp
                            span.badge.badge-primary #{course.mark}
                            |&nbsp参与人数:&nbsp
                            span.badge.badge-primary #{course.participants}
                        -if(join)
                            span.label.label-success(style='float:right;font-size:20px;width: 110px;margin-top: 0.5em') 已加入课程
                        -else if(!user || user.type == 2)
                            a(href='/course/join?cid=' + course.id)
                                span.label.label-info(style='float:right;font-size:20px;width: 110px;margin-top: 0.5em') 参加课程
                    .clearfix
            div
                .bs-example.bs-example-tabs
                    ul.nav.nav-tabs
                        li.active
                            a(href='#information', data-toggle='tab') 基本信息
                        //li
                        //    a(href='#outline', data-toggle='tab') 课程大纲
                        li
                            a(href='#resource', data-toggle='tab') 课件资源
                        li
                            a(href='#remark', data-toggle='tab') 用户评论
                    .tab-content
                        #information.tab-pane.fade.in.active
                            p #{course.information}
                        //#outline.tab-pane.fade
                        //    .bs-docs-example
                        //        table.table
                        //            thead
                        //                tr
                        //                    th #
                        //                    th 章节名称
                        //                    th 主讲老师
                        //                    th 操作
                        //            tbody
                        //                tr
                        //                    td 1
                        //                    td 分式的基本概念与性质
                        //                    td 武训
                        //                    td
                        //                        h4
                        //                            a(href='#')
                        //                                span.label.label-success 观看
                        //                            a(href='#')
                        //                                span.label.label-info 编辑
                        //                            a(href='#')
                        //                                span.label.label-danger 删除
                        //                tr
                        //                    td 2
                        //                    td 分式的运算与恒等变形
                        //                    td 武训
                        //                    td
                        //                        h4
                        //                            a(href='#')
                        //                                span.label.label-success 观看
                        //                            a(href='#')
                        //                                span.label.label-info 编辑
                        //                            a(href='#')
                        //                                span.label.label-danger 删除
                        //                tr
                        //                    td 3
                        //                    td 分式方程
                        //                    td 武训
                        //                    td
                        //                        h4
                        //                            a(href='#')
                        //                                span.label.label-success 观看
                        //                            a(href='#')
                        //                                span.label.label-info 编辑
                        //                            a(href='#')
                        //                                span.label.label-danger 删除
                        #resource.tab-pane.fade
                            -if(user && user.id == course.t_id)
                                div
                                    //form#upload_form(method='post', enctype='multipart/form-data')
                                    //    button#upload_button(type='submit')
                                    //        | 上传
                                    //    input#upload_file(name='myfile', type='file', style='float:right;width: 200px;')

                                    form(enctype='multipart/form-data', action='/resource/upload?cid='+course.id, method='post')
                                        button.btn.btn-default(type='submit',style='float:right') 提交
                                        input(type='file', name='myfile', style='float:right;width: 200px;',required='')

                            .bs-docs-example
                                table.table
                                    thead
                                        tr
                                            th #
                                            th 课件名称
                                            th 上传时间
                                            th 操作
                                    tbody
                                        each item,index in resources
                                            tr(data-fid=item.id)
                                                td #{index+1}
                                                td #{item.name}
                                                td #{item.create_time.getFullYear()}-#{item.create_time.getMonth()+1}-#{item.create_time.getDate()}
                                                td
                                                    h4
                                                        a(href='/resource?id='+item.id+'&name='+item.name+'&cid='+course.id)
                                                            span.label.label-success 下载
                                                        -if(user && user.id == course.t_id)
                                                            |&nbsp
                                                            a(href='javascript:void(0)')
                                                                span.label.label-danger 删除

                        #remark.tab-pane.fade
                            -if(user && user.type == 2)
                                div
                                    a(href='javascript:void(0)', onclick="start('myModal1')")
                                        span.badge.badge-primary(style='font-size:20px') +评价教师
                            .grid_3.grid_5
                                -if(remarks.length==0)
                                    p 暂无评论
                                -else
                                    each item,index in remarks
                                        .well
                                            | # #{index + 1}&nbsp&nbsp&nbsp&nbsp评分：#{item.mark}
                                            br
                                            | #{item.information}
                                            div(style='float:right')
                                                | #{item.create_time.getFullYear()}-#{item.create_time.getMonth() + 1}-#{item.create_time.getDate()}
                            #myModal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
                                .modal-dialog(role='document')
                                    .modal-content
                                        .modal-header
                                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                                span(aria-hidden='true') ×
                                            h4.modal-title 评价
                                        .modal-body
                                            form#new_remark(method='post')
                                                label(for='mark') 评　分：
                                                select#mark.form-control(name='mark', style='width:50%;display:inline;margin:1px')
                                                    option(value='1') 1
                                                    option(value='2') 2
                                                    option(value='3') 3
                                                    option(value='4') 4
                                                    option(value='5') 5
                                                br
                                                label(for='r_information') 评　语：
                                                br
                                                textarea#r_information.form-control(name='information', style='width:80%;display:inline;margin:1px', cols='60', rows='5', wrap='')
                                        .modal-footer
                                            button.btn.btn-default(type='button', data-dismiss='modal')
                                                span.glyphicon.glyphicon-remove(aria-hidden='true')
                                                | 关闭
                                            button#remark_submit.btn.btn-primary(type='button', data-dismiss='modal')
                                                span.glyphicon.glyphicon-floppy-disk(aria-hidden='true')
                                                | 保存